.color {
    background-color: #ffc38e;
    margin-top: 10px;
}

form {
    display: inline-block;
}

body {
    padding: 30px;
}

* {
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
* {
    text-align: center;
}
