.color {
    background-color: #ecffb0;
    margin-top: 10px;
    padding: 10px;
}

form {
    display: inline-block;
}

* {
    text-align: center;
}

div#insert {
    display: inline-block;
}

table {
    display: inline-block;
}

button.update {
    display: block;
    margin:0 auto;
}

button {
    display: inline-block;
    margin:10px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
* {
    text-align: center;
}
